{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block my_content %}
	<div> Fill in the following to create the group.</div>
	
	<div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}


{#% block my_content %}
	<div> Fill in the following to create the group.</div>
	
	<form action="" method="POST" novalidate>
		{{ form.hidden_tag() }}
		<p>
		{{ form.group_name.label }} <br> {{ form.group_name() }}
		
		{% for error in form.group_name.errors %} <br>
			<span style="color: red;"> [{{ error }}] </span>
		{% endfor %}
		</p>
		
		<p>
		{{ form.group_psw.label }} <br> {{ form.group_psw() }}
		
		{% for error in form.group_psw.errors %} <br>
			<span style="color: red;"> [{{ error }}] </span>
		{% endfor %}
		</p>
		
		<p>
		{{ form.confirm.label }} <br> {{ form.confirm() }}
		
		{% for error in form.confirm.errors %} <br>
			<span style="color: red;"> [{{ error }}] </span>
		{% endfor %}
		</p>
		
		<p> {{ form.create() }} </p>
	</form>
{% endblock %#}