{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block my_content %}
    <div class="row ">
		<div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Instructions</h3>
			<p>
			<p><b>Read carefully before accessing the challenge.</b></p>
			
			<p>
			<b>Groups</b><br>
			The challenge will consist in a set of exercises, each independent from the others. You are allowed (and expected) to work in teams, to do so one of the members will create a group using the button below, and the other will join the team so created. There is no concept of user, so individual submissions are not tracked and will be represented as that of the group; in practical terms it means that every time a member of a group submits a piece of code, the score for that exercise is taken to be that of the group, and therefore updated for all the other members as well. There is no limit to the group size.
			</p>
			
			<p>
			<b>Exercises</b><br>
			The exercises require you to write a function that does something. Make sure that you follow the instructions closely, there will be defined the name your function needs to have, how many inputs it should expect and what kind of output you have to return. Different function name, wrong number of inputs and wrong output will all result in errors, which will yield a score of zero. Note that, in general, you are not allowed to use <b>any</b> built-in function, or those provided by external modules (for instance, you will not be able to call print). Some exercises may allow you to use some functions, in which case that will be clearly stated. However, there is no restriction to the number of functions <b>you</b> write: if you want to create an auxiliary function that swaps two variables to aid you in sorting a list, you may do so. <br>
			Some exercises may provide you with tips. Reading them doesn't reduce you score, yet you should really try to do without.
			</p>
			
			<p>
			<b>Code Submission</b><br>
			To submit code, write it in the box below the exercise and press submit. You are encouraged to develop your code in a IDE (like Spyder of PyCharm or whatever you prefer), check that it works and that it provides the expected result, then copy and paste. Remember to carefully check indentaion when copying s Python is very sensible to that. The way the platform works is that once you press the button to test you code, it is sent to the platform and processed there. In case exceptions are raised and the execution stops, an error will be returned back to you <b>however</b>, do not count on that to be very informative, always debug your code in a IDE.
			</p>
			
			<p>
			<b>Scoring</b><br>
			Once you submit your code, the platform will test it: your function will be called with pre-defined inputs, observed the output (return value) and compared with the expected outputs. Each test case passed will be one point and each failed will be zero. If your submittions returns errors, your overall score will be zero. There is no limit to the number of times you can submit your code, and there is no penalty for submitting code, even if it returns with errors. Also, your functions are not timed unless explicitly stated by the exercise, therefore focus on creating code that gets the job done, not on finding the fastest solution for the problem. <br>
			<b>N.B.</b> the score for each exercise is based on your <b>last</b> submission, therefore even if one of your team member submitted a piece of code which passed all test cases, a new submission by any member will overwrite that. Moreover, you past submission's code is not stored on the platform, so be sure to have it saved somewhere in case you need it.
			</p>
			
			<p><br>Good luck!</p>
			
			<div align="center">
				{{ wtf.quick_form(form) }}
			</div>
        </div>
		<div class="col-md-1"></div>
    </div>
{% endblock %}
